body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #732130;
}

/* NAVBAR */
.navbar {
    background: #3e2723;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* HERO */
/* .hero {
    background: url("restraunt.jpg") center/cover no-repeat;
    height: 90vh;
    position: relative;
} */
 .hero {
    height: 100vh; /* Full screen height */
    background: url("restraunt.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.btn {
    background: orange;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* .menu{
    padding: 60px 20px;
    background: url("restraunt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
} */

.card {
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.reviews {
    background: #4e342e;
    color: white;
}

.review-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.review-card {
    background: #6d4c41;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.location {
    background: #eee;
}

#map {
    height: 300px;
    width: 80%;
    margin: 20px auto;
}

footer {
    background: #3e2723;
    color: white;
    padding: 20px;
}

@media(max-width: 768px) {
    .menu-container,
    .review-container {
        flex-direction: column;
        align-items: center;
    }

    .overlay {
        padding-top: 120px;
    }
}