body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #732130;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 5px;
    width: 100%;
    background: #3e2622d7;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: inline-block;   
}
.navbar a:hover{
    transform: scale(1.1);
    color: rgb(255, 0, 0);
}

/* HERO */
/* .hero {
    background: url("restraunt.jpg") center/cover no-repeat;
    height: 90vh;
    position: relative;
} */
  /* Full screen height */
 .hero {
    height: 100vh;
    background: url("restraunt.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.btn {
    background: orange;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 1s ease;
    display: inline-block;        
}
.btn:hover{
    transform: scale(1.2);
    background-color: rgb(251, 187, 113);
    transition: 1s;
    box-shadow: 0 0 20px rgb(255, 0, 0), 0 0 40px rgb(255, 145, 145);

}

html{
    scroll-behavior: smooth;
}
/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.menu{
    /* margin-top: 0px; */
    padding: 60px 20px;
    /* background: url("restraunt.jpg"); */
    background-size:0%;
    background-position: center;
    background-repeat: no-repeat;
    animation: slideup 1.5s ease-in-out;
    /* color: white; */
}
@keyframes slideup{
    from{
        opacity: 0;
        transform: translateY(250px);
    }
    to{
        opacity: 2;
        transform: translateY(0);
    }
}

.card {
    background: white;
    width: 250px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 15px rgba(0,0,0,0.1); */
    transition: 1s;
}
.card:hover{
    transform: scale(1.1);
    box-shadow:  25px 35px 50px black;
}

.card img {
    width: 100%;
    border-radius: 10px;
    transition: 1s;
    transform: translate(center);
}


.reviews {
    background: #4e342e;
    color: white;
}

.review-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.review-card {
    background: #6d4c41;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 1s;
    transform: 0.3s ease-in-out;
    /* transition: transform 0.3s ease; */
}
.review-card:hover{
    transform: translateY(-25px);
    box-shadow: 15px 25px 50px black;
}



.location {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fbffef;
}

#map {
    height: 50px;
    width: 80%;
    margin: 20px auto;
}

footer {
    background: #3e2723;
    color: white;
    padding: 20px;
}

@media(max-width: 768px) {
    .menu-container,
    .review-container {
        flex-direction: column;
        align-items: center;
    }

    .overlay {
        padding-top: 120px;
    }
}
